*, *::after, *::before {
  box-sizing: border-box;
}
@font-face{
	font-family: 'Pragmatica';
	src: url("../fonts/pragmatica-medium.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'Myriad Pro';
	src: url("../fonts/myriad-pro.otf");
	font-weight: normal;
	font-style: normal;
}

body {
  min-width: 1280px;
  font-family: 'Pragmatica', sans-serif; 
}

.main-wrapper {
  background: url("../img/main-bg.png") no-repeat 0 0;
}

.main-header {
  display: flex;
  flex-direction: column;
  min-width: 1230px;
  margin: 0 auto 68px auto;
}

.top-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-width:  1230px;
}

.top-header__main-logo {
  margin-top: 40px;
  margin-right: 110px;
  margin-left: 105px;
}

.top-header__second-logo {
  margin-top: 20px;
  margin-right: 38px;
  padding: 15px;
  font-family: 'Pragmatica', sans-serif;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  border-radius: 50%;
  color: #231f20;
  border: 2px solid #e3e3e4;
}

.top-header__second-logo:hover {
  background-color: #e3e3e4;
}

.top-header__main-nav {
  margin-right: 7px;
}

.top-header__site-list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  list-style: none;
}

.top-header__list-item {
  margin: 0;
  padding: 0;
}

.item-floor {
  margin-right: 10px;
}

.top-header__item-link {
  position: relative;
  padding: 20px 40px 20px 40px;
  font-family: 'Pragmatica', sans-serif;
  text-decoration: none;
  font-size: 14px;
  font-weight: 100;
  line-height: 24.64px;
  color: #221f1f; 
}

.top-header__item-link::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: aqua
}

.link-buss::before {
  background: url("../img/spritesheet.png") no-repeat -122px -15px;
}

.link-mess::before {
  background: url("../img/spritesheet.png") no-repeat -251px -15px;
}

.link-floor::before {
  background: url("../img/spritesheet.png") no-repeat -298px -15px;
}

.link-areas::before {
  background: url("../img/spritesheet.png") no-repeat -75px -15px;
}

.top-header__user-block {
  margin-top: 15px;
  box-sizing: border-box;
}

.top-header__user-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none; 
}

.top-header__user-item {
  margin: 0;
  padding: 0;
}

.top-header__user-item input {
  width: 95px;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 100;
  border: none;
}

.item-search {
  position: relative;
}

.item-search::before {
  content: "";
  position: absolute;
  top: 0;
  left: -36px;
  width: 20px;
  height: 20px;
  background: url("../img/spritesheet.png") no-repeat -616px -15px;
} 

.top-header__user-mail {
  position: relative;
  width: 24px;
  height: 17px;
  margin-right: 45px;
  padding: 15px 14px;
  padding-top: 25px;
  font-size: 0;
  background: url("../img/spritesheet.png") no-repeat -463px -5px;
}

.top-header__user-mail::before {
  content: "12";
  position: absolute;
  top: 3px;
  left: 20px;;
  width: 13px;
  height: 13px;
  padding: 2px;
  font-size: 8px;
  line-height: 9.6px;
  background-color: red;
  color: white;
  border-radius: 5px;
}

.top-header__user-ahtor {
  position: relative;
  padding: 10px 10px 10px 45px;
  background-color: #fdda9d;
  border-radius: 20px;
  box-sizing: border-box;
}

.top-header__user-ahtor::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 1px;;
  width: 35px;
  height: 35px;
  background: url("../img/spritesheet.png") no-repeat -10px -15px;
}

.bottom-header__list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  margin-left: 84px;
  margin-top: 30px;
  padding: 0;
  list-style: none;
}

.bottom-header__item {
  margin: 0;
  padding: 0;
}

.our-company {
  margin-right: 8px;
}

.our-tiam {
  margin-right: 10px;
}

.our-safety {
  margin-right: -10px;
}

.management-company {
  margin-right: 26px;
}

.our-enterprises {
  margin-right: 14px;
}

.reference-books {
  margin-right: 8px;
}

.bottom-header__link {
  padding: 20px 25px;
  font-family: 'Pragmatica', sans-serif;
  font-size: 12px;
  line-height: 14.4px;
  text-transform: uppercase;
  text-decoration: none;
  word-spacing: 4px;
  letter-spacing: 0.1px;
  color: #1f1f1f;
}

.our-safety a {
  letter-spacing: 1px;
  word-spacing: 9px;
}

.main {
  margin-bottom: 55px;
  padding-bottom: 55px;
  border-bottom: 2px solid #e3e3e4;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  width: 1230px;
  margin: 0 auto 78px auto;
}

.main-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column-reverse;
  width: 670px;
  margin-right: 330px;
}

.main-content__cite {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 44px;
  
}

.main-content__cite-ahtor {
  width: 500px;
  margin-bottom: 10px;
  font-family: 'Pragmatica', sans-serif;
  font-size: 26px;
  font-weight: 100;
  word-spacing: -4px;
  line-height: 31.2px;
  color: #221f1f;
}

.main-content__ahtor-phrase {
  width: 550px;
  font-size: 14px;
  font-weight: 300;
  line-height: 22.4px;
  word-spacing: -4px;
  letter-spacing: 1px;
  color: #221f1f;
}

.main-content__cite-description {
  font-size: 12px;
  font-weight: 300;
  line-height: 14.4px;
  color: #7f8085;
}

.main-content__description {
  display: block;
}

.main-content__video {
  display: flex;
  justify-content: flex-start;
  margin-left: 360px;
}

.main-content__video-clip {
  margin-right: 15px;
}

.main-content__video-channel {
  margin-top: 11px;
  margin-bottom: 13px;
  font-family: 'Pragmatica', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 19.6px;
  color: #818285;
}

.main-content__video-title {
  width: 230px;
  font-family: 'Pragmatica', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 19.2px;
  color: #231f20;
}

.site-bar__block {
  width: 300px;
}

.site-bar__user {
  position: relative;
  margin-bottom: 52px;
}

.site-bar__user::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -70px;
  width: 50px;
  height: 50px;
  background: url("../img/spritesheet.png") no-repeat -171px -15px; 
}

.site-bar__user-name {
  margin-top: 9px;
  margin-bottom: 4px;
  font-family: 'Pragmatica', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 18.2px;
  color: #231f20;
}

.site-bar__user-position {
  font-family: 'Pragmatica', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 14.4px;
  color: #7f8085;
}

.site-bar__event {
  position: relative;
}

.site-bar__event::before {
  content: "";
  position: absolute;
  top: -05px;
  left: -62px;
  width: 50px;
  height: 50px;
  background: url("../img/spritesheet.png") no-repeat -349px -15px; 
}

.site-bar__event-date,
.site-bar__theme-date {
  margin-bottom: 8px;
  font-family: 'Pragmatica', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 14.4px;
  color: #231f20;
}

.site-bar__event-description {
  width: 200px;
  margin-top: 0;
  margin-bottom: 40px;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 19.6px;
  color: #ee2d24;
}

.site-bar__theme {
  position: relative;
}

.site-bar__theme::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -60px;
  width: 50px;
  height: 50px;
  background: url("../img/spritesheet.png") no-repeat -409px -15px;
}

.site-bar__theme-description {
  width: 220px;
  margin-top: 0;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 18.2px;
  color: #1f1f1f;
}

.slider {
  position: relative;
}

input[type="radio"] {
  display: none;
}

.slide {
  display: none;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3,
#btn-4:checked ~ .site-wrapper #slide4,
#btn-5:checked ~ .site-wrapper #slide5 {
  display: block;
}

.slider-controls {
  position: absolute;
  bottom: -40px;
  right: 145px;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 19px;
  vertical-align: top;
  background-color: #e3e3e4;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"],
#btn-4:checked ~ .site-wrapper label[for="btn-4"],
#btn-5:checked ~ .site-wrapper label[for="btn-5"] {
  background-color: #fdda9d;
}

.additional-controls {
  position: relative;
  font-size: 0;
}

.additional-controls::before {
  content: "";
  position: absolute;
  bottom: -40px;
  left: -180px;
  width: 18px;
  height: 18px;
  border: 2px solid #272324;
  border-bottom: none;
  border-left: none;
  cursor: pointer;
}

.right-controls::before {
  left: -120px;
  transform: rotate(45deg)
}

.left-controls::before {
  transform: rotate(-135deg)
}

.news-list {
  display: flex;
  justify-content: flex-start;
  width: 950px;
  margin: 0 auto 65px auto;
  padding: 0;
  padding-left: 50px;
  list-style: none;
}

.news-item {
  width: 220px;
  margin-right: 20px;
}

.news-item:last-child {
  margin: 0;
}

.news-title {
  font-family: 'Myriad Pro', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 18.2px;
  color: #221f1f;
}

.news-date {
  font-family: 'Pragmatica', sans-serif;
  font-size: 12px;
  font-weight: 100;
  line-height: 14.4px;
  color: #7f8085;
}

.news-link {
  position: relative;
}

.news-link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 10px;;
  width: 60px;
  height: 60px;
  background-color: #fcb53b;
}

.news-link::after {
  content: "юг";
  position: absolute;
  bottom: 0;
  left: 20px;
  font-family: 'Pragmatica', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 19,6px;
  color: #ffffff;
}

.news-zsmk::before {
  background-color: #ee2d24;
}

.news-zsmk::after {
  content: "зсмк";
}

.news-ntmk::before {
  background-color: #f57f29;
}

.news-ntmk::after {
  content: "нтмк";
}

.news-filters {
  display: flex;
  justify-content: flex-start;
  width: 340px;
  margin: 0 auto;
  padding: 0;
  padding-left: 50px;
  list-style: none;
}


.news-filters button {
  position: relative;
  padding: 15px 25px 15px 49px; 
  white-space: nowrap;
  font-family: 'Pragmatica', sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 9px;
  text-transform: uppercase;
  color: #231f20;
  background-color: #fdda9d;
  border-radius: 150px;
}

.news-filters button::before {
  content: "";
  position: absolute;
  top: 7px;;
  left: 11px;
  width: 26px;
  height: 20px;
} 

.all-news {
  margin-right: 20px;
}

.all-news::before {
  background: url("../img/spritesheet.png") no-repeat -516px -15px;
}

.my-region::before {
  background: url("../img/spritesheet.png") no-repeat -567px -15px;
}

.footer__list {
  display: flex;
  justify-content: flex-start;
  min-width: 1230px;
  list-style: none;
  margin-left: 65px;
}

.footer__item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 60px;
}

.footer__item:nth-child(3) {
  margin-right: 30px;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__logo-link {
  margin-bottom: 17px;
}

.footer-description {
  width: 256px;
  padding-left: 5px;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 19.2px;
  letter-spacing: 1px;
  color: #7f8085;
}

.footer__contact {
  font-family: 'Pragmatica', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 12.6px;
  color: #ee2d24;
  margin: 0;
  margin-bottom: 17px;
}

.footer__contact-phone {
  margin-bottom: -10px;
  padding-left: 2px;
  padding-bottom: 0;
  font-family: 'Pragmatica', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.4px;
  text-decoration: none;
  letter-spacing: 0.7px;
  color: #211f1f;
}

.footer__phone-description {
  width: 250px;
  margin-bottom: 15px;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 14.4px;
  letter-spacing: 0.7px;
  color: #818285;
}

.footer__our-email {
  margin-bottom: 25px;
  font-family: 'Pragmatica', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.4px;
  text-decoration: none;
  color: #211f1f;
}

.footer__feedback {
  width: 215px;
  padding: 15px 5px;
  font-family: 'Pragmatica', sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 9px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border-radius: 150px;
  color: #1f1f1f;
  background-color: #fdda9d;
}

.footer__exchange-quotes {
  margin: 0;
  margin-bottom: 8px;
  font-family: 'Pragmatica', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 12.6px;
  color: #231f20;
}

.footer__quotes-date {
  margin-bottom: 34px;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 14.4px;
  letter-spacing: 1px;
  color: #7f7f85;
}

.footer__quotes-table {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 290px;
}

.footer__quotes-table::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 0 ;
  width: 285px;
  height: 3px;
  border-bottom: 2px solid #d7d7d9;
} 

.footer__quotes-colum {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 30px;
}

.footer__quotes-title {
  margin: 0;
  font-family: 'Pragmatica', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 16.8px;
  color: #211f1f;
}

.footer__quotes-black {
  font-weight: 700;
}

.footer__quotes-green {
  position: relative;
  margin: 0;
  margin-bottom: 32px;
  font-family: 'Pragmatica', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 14.4px;
  letter-spacing: 0.6px;
  color: #46b900;
}

.footer__quotes-green::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0 ;
  width: 285px;
  height: 3px;
  border-bottom: 2px solid #d7d7d9;
}

.footer__quotes-green::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 28px ;
  width: 10px;
  height: 10px;
  background: url("../img/spritesheet.png") no-repeat -660px -15px;
}

.footer__quotes-answer {
  margin: 0;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 16.8px;
  letter-spacing: 0.7px;
  color: #7f8085;
}

.footer__answer-end {
  margin-bottom: 30px;
}

.footer__portal {
  font-family: 'Pragmatica', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 12.6px;
  color: #231f20;
  margin: 0;
  margin-bottom: 15px;
}

.footer__portal-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 285px;
  list-style: none;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.footer__portal-item {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
}

.footer__portal-link {
  font-family: 'Myriad Pro', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 0.7px;
  color: #221f1f;
  padding: 15px 0;
}

.footer__portal-description {
  width: 285px;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 12px;
  line-height: 19.2px;
  font-weight: 300;
  letter-spacing: 0.7px;
  color: #808185;
}